body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

h2 {
  text-align: center;
  color: #35559a;
}

form {
  text-align: center;
  background: #91a0b29b;
  width: 400px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.form-container {
  padding: 15px;
}

label{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block; /*labels on another line*/
}

input[type=text], [type=password]{
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 200px;
  border: 2px solid #35559a;
  border-radius: 5px;
  padding: 10px;
}

input[type=submit], button {
  color: white;
  font-size: 20px;
  background-color: #35559a;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=submit], button:hover {
  background-color: #506aa1;
}

select {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid #35559a;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  width: 200px;
}

select:focus {
  outline: none;
}

.message {
  background-color: #91a0b29b;
  color: white;
  text-align: center;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 11px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 18px;
  color: #333;
}

tr:hover {
  background-color: #91a0b29b;
}

th {
  background-color: #91a0b29b;
}

p {
  font-size: 18px;
}